body{
    font-family: arial;
    /* background-image: url('image.png'); */
    /* background-color: cyan; */
    background-color: rgb(255, 0, 255);
    background-size: cover;
}

h1{
    color: rgb(138, 142, 255);
}
p{
    font-size: large;
    color: #000000;
    text-align: center;
}
